{
	"presets": ["env", "react"],
	"plugins": [
		[
			// https://github.com/tleunen/babel-plugin-module-resolver
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"src": "./src",
					"pages": "./src/pages"
				}
			}
		]
	]
}
